.github_mini_modal {
  position: absolute;
  z-index: 90;
  right: 0;
  bottom: 0;
  transform: translate(0, 100%);
  background-color: #fff;
  color: #24292e;
  border: 1px solid #e1e4e8;
  padding-top: 5px;
  padding-bottom: 5px;
  min-width: 160px;
  border-radius: 6px;
  box-shadow: 0 0 20px rgba(19, 19, 19, 0.075);

  > * {
    padding: 8px 16px;
    display: block;
    color: #24292e;
  }
}
