.repo_container {
  padding-top: 20px;
  .app_wrapper {
    padding-right: 115px;
    padding-left: 115px;
  }
}
.repo_grid {
  display: grid;
  grid-template-columns: 2.3fr 7.5fr;
  grid-gap: 32px;
  > div {
    width: 100%;
  }
}

.repo_app_header {
  border-bottom: 1px solid var(--color-border);
  padding-top: 0;
  padding-bottom: 0;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff;

  &-links {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &-link {
    padding: 14px 16px;
    border-bottom: 2px solid transparent;
    text-transform: capitalize;
    font-size: 14px;
    color: #24292e;
    transform: translate(0, 1px);
    display: flex;
    align-items: center;

    svg {
      margin-right: 6px;
      path {
        fill: #959da5;
      }
    }
    .num {
      background-color: rgba(209, 213, 218, 0.5);
      border-radius: 10px;
      padding: 2px 6px;
      font-size: 12px;
      margin-left: 8px;
      font-weight: 500;
    }
    &.active {
      border-bottom: 2px solid #f9826c;
      font-weight: 600;
      svg {
        path {
          fill: currentColor;
        }
      }
    }
  }
}

.repo_actions_header {
  padding: 16px 0;
  border-bottom: 1px solid var(--color-border);
}
